<%= link_to("Back to List", tasks_path, class: 'btn btn-secondary mb-3') %>

<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Show Task</h2>

      <div class="actions mb-3">
        <%= link_to('Edit',  edit_task_path(@task), class: 'btn btn-warning') %>
        <%= link_to('Delete', delete_task_path(@task), class: 'btn btn-danger') %>
      </div>

      <table class="table table-bordered">
        <tr>
          <th>Name</th>
          <td><%= @task.name %></td>
        </tr>
        <tr>
          <th>Completed</th>
          <td><%= @task.completed? ? 'Yes' : 'No' %></td>
        </tr>
        <tr>
          <th>Description</th>
          <td><%= @task.description %></td>
        </tr>
        <tr>
          <th>Category</th>
          <td>
            <% if @task.category %>
              <%= @task.category.name %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Created</th>
          <td><%= @task.created_at %></td>
        </tr>
        <tr>
          <th>Updated</th>
          <td><%= @task.updated_at %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
